<?xml version="1.0"?>

<launch>
	<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
		<param name="pub_map_odom_transform" value="true"/>
		<param name="map_frame" value="robot4/map"/> 
		<param name="base_frame" value="robot4/base_link"/> 
		<param name="odom_frame" value="robot4/odom"/> <!-- 2016-09-28, WT. For frame, it is better not put '/' before the tag -->

		<param name="use_tf_scan_transformation" value="true"/>
		<param name="use_tf_pose_start_estimate" value="false"/>

		<param name="map_resolution" value="0.05"/> <!-- 0.05, 2017-01-04, WT. Original: 0.03 -->
		<param name="map_size" value="512"/> <!-- 2048, 2017-01-04, WT. Original: 512 -->
		<param name="map_start_x" value="0.5"/>
		<param name="map_start_y" value="0.5" />
		<param name="map_pub_period" value="1.0" />
		<param name="map_multi_res_levels" value="2" /> <!-- 2, 2017-01-04, WT. Original: 3 -->

		<param name="update_factor_free" value="0.4"/>
		<param name="update_factor_occupied" value="0.9" /> <!-- 0.9, 2017-01-04, WT. Original: 0.7, this is good for less location jumping -->    
		<param name="map_update_distance_thresh" value="0.4"/> <!-- 0.4, 2017-01-04, WT. Original: 0.2 -->
		<param name="map_update_angle_thresh" value="0.06" /> <!-- 0.06, 2017-01-04, WT. Original: 0.9 -->
		<param name="laser_min_dist" value="0.15" />  <!--Added 2017-01-04, WT-->
		<param name="laser_max_dist" value="6" />
		<param name="laser_z_min_value" value = "-1.0" />
		<param name="laser_z_max_value" value = "1.0" />

		<param name="advertise_map_service" value="true"/>
		<param name="scan_subscriber_queue_size" value="5"/>
		<param name="scan_topic" value="/robot4/scan"/> <!-- 2016-09-28, WT. There must be a '/' before robot4, or it will not work; though it is in ns of robot4, it can't get tag automatically. -->
		<param name="tf_map_scanmatch_transform_frame_name" value="robot4/scanmatcher_frame" />
	</node>
</launch>
  
  
