<?xml version="1.0"?>

<launch>
    <node pkg="tf" type="static_transform_publisher" name="ground_2_map_4" args="0 0 -0.5 0 0 0 ground robot4/map 200"/> <!-- change rate from 100ms to 200ms, 2017-01-04, WT -->
    <node pkg="tf" type="static_transform_publisher" name="base_frame_2_laser_4" args="0 0 0 3.142 0 0 robot4/base_link robot4/laser 200"/> <!-- change rate from 100ms to 200ms, 2017-01-04, WT -->
    <group ns="robot4">
		<include file="$(find robot_controller)/launch/default_mapping_robot4.launch"/> 
		<include file="$(find robot_controller)/launch/geotiff_mapper_robot4.launch"/>  
	</group>
</launch>
