<?xml version="1.0"?>

<launch>    
<!--
	<group ns="robot5">
		<arg name="robot_node_5" default="true" />
        
		<node pkg="robot_controller" type="robot" name="robot_node_5" if="$(arg robot_node_5)" output="screen">
			<param name ="trajectory_file" value = "$(find robot_controller)/launch/Orbital_ECI_2_5.txt"/>
			<param name ="robot_name" value = "robot5"/>
            <param name ="kd" value = "0.2"/>
            <param name ="kp" value = "0.6"/>
            <param name ="ku" value = "0.001"/>
            <param name ="angular_speed_max" value = "0.1"/>
            <param name ="xy_speed_constraint" value = "0.1"/>
		</node>
	</group>
-->
    
    <group ns="robot7">
		<arg name="robot_node_7" default="true" />
        
		<node pkg="robot_controller" type="robot" name="robot_node_7" if="$(arg robot_node_7)" output="screen">
			<param name ="trajectory_file" value = "$(find robot_controller)/launch/Orbital_ECI_2_7.txt"/>
			<param name ="robot_name" value = "robot7"/>
            <param name ="kd" value = "-0.2"/>
            <param name ="kp" value = "-0.5"/>
            <param name ="ku" value = "-0.001"/>
            <param name ="angular_speed_max" value = "0.13"/>
            <param name ="xy_speed_constraint" value = "0.13"/>
		</node>
	</group>
     
<!--
	<group ns="robot4">
		<arg name="robot_node_4" default="true" />
        
		<node pkg="robot_controller" type="robot" name="robot_node_4" if="$(arg robot_node_4)" output="screen">
			<param name ="trajectory_file" value = "$(find robot_controller)/launch/Orbital_ECI_2_5.txt"/>
			<param name ="robot_name" value = "robot4"/>
            <param name ="kd" value = "-0.2"/>
            <param name ="kp" value = "-0.6"/>
            <param name ="ku" value = "-0.001"/>
            <param name ="angular_speed_max" value = "0.1"/>
            <param name ="xy_speed_constraint" value = "0.1"/>
		</node>
	</group>
-->
   
<!--
    <group ns="robot3">
		<arg name="robot_node_3" default="true" />
        
		<node pkg="robot_controller" type="robot" name="robot_node_3" if="$(arg robot_node_3)" output="screen">
			<param name ="trajectory_file" value = "$(find robot_controller)/launch/Orbital_ECI_2_7.txt"/>
			<param name ="robot_name" value = "robot3"/>
            <param name ="kd" value = "-0.2"/>
            <param name ="kp" value = "-0.5"/>
            <param name ="ku" value = "-0.001"/>
            <param name ="angular_speed_max" value = "0.13"/>
            <param name ="xy_speed_constraint" value = "0.13"/>
		</node>
	</group>
-->
</launch>
